<a href="https://colab.research.google.com/github/JessicaFaulk/Machine-Learning/blob/main/Regression_Tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# import packages needed for data cleaning and pre-processing
import pandas as pd
from sklearn.model_selection import train_test_split

## import package for creating the model
from sklearn.tree import DecisionTreeRegressor


#Import Data Needed: Boston House
house = pd.read_csv("https://raw.githubusercontent.com/JessicaFaulk/Machine-Learning/refs/heads/main/Regression%20Tree/BostonHousing.csv")

house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   CRIM       506 non-null    float64
 1   ZN         506 non-null    float64
 2   INDUS      506 non-null    float64
 3   CHAS       506 non-null    int64
 4   NOX        506 non-null    float64
 5   RM         506 non-null    float64
 6   AGE        506 non-null    float64
 7   DIS        506 non-null    float64
 8   RAD        506 non-null    int64
 9   TAX        506 non-null    int64
 10  PTRATIO    506 non-null    float64
 11  LSTAT      506 non-null    float64
 12  MEDV       506 non-null    float64
 13  CAT. MEDV  506 non-null    int64
dtypes: float64(10), int64(4)
memory usage: 55.5 KB

- There's 14 columns of data provided here. Appears there are no null values to drop.
- CHAS is a categorical variable

In [6]:
house = house.drop(columns = ['CAT. MEDV'])

In [8]:
# CHAS is categorical but what kind? looks to be binary. We are doing linear reg first so stay with the 1/0
house.CHAS.value_counts()

CHAS
0    471
1     35
Name: count, dtype: int64

In [9]:
#split into predictor and response variables x and y
X = house.drop(columns = ['MEDV'])
y = house.MEDV

In [10]:
# split the dataset into testing and training sets
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 1)

In [12]:
advert = pd.read_csv("https://raw.githubusercontent.com/JessicaFaulk/Machine-Learning/refs/heads/main/Regression%20Tree/advertising.csv")
advert.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   TV         200 non-null    float64
 1   Radio      200 non-null    float64
 2   Newspaper  200 non-null    float64
 3   Sales      200 non-null    float64
dtypes: float64(4)
memory usage: 6.4 KB